In [22]:
#import all necessary libraries and tools
import numpy as np
import pandas as pd
import os
from datetime import datetime, timedelta
import matplotlib.pyplot as plt
import alpaca_trade_api as tradeapi
%matplotlib inline
import pandas_datareader.data as web

-------

## Pull in Data for Analysis Purposes
* S&P500 Index
* REIT Residential Stocks from Nasdaq
* Historical Single Family Home Price Data by State from Zillow

In [2]:
#set time frame for data from a year by day
timeframe = '1D'
end_date = datetime.now()
start_date = end_date + timedelta(-365)

In [3]:
#get s&p 500 index information as a whole - for use in beta calculations
sp500 = web.DataReader(['sp500'], 'fred', start_date, end_date)
sp500.head()

              sp500
DATE
2019-05-02  2917.52
2019-05-03  2945.64
2019-05-06  2932.47
2019-05-07  2884.05
2019-05-08  2879.42

In [4]:
#calculate percent change and clean data for s&p 500 index
sp500_returns = sp500.pct_change()
sp500_returns.dropna(inplace = True)
sp500_returns.head()

               sp500
DATE
2019-05-03  0.009638
2019-05-06 -0.004471
2019-05-07 -0.016512
2019-05-08 -0.001605
2019-05-09 -0.003021

In [5]:
#set up data frame reading data from the REIT-residential stocks
screened_stocks_df = pd.read_csv('./Data/REIT_stocks.csv')
screened_stocks_tickers = screened_stocks_df['Ticker']
tickers= screened_stocks_tickers.tolist()
tickers.pop(2) #clean out 2 stocks with incomplete data

'AIII'

In [6]:
#pull closing price data for REIT-residential stocks
read_stocks = web.DataReader(tickers, 'yahoo',start_date,end_date)
REIT_stocks = read_stocks['Close']
REIT_stocks.head()

Symbols,ACC,AHH,AIV,AMH,APTS,AVB,BOWFF,BRG,BRT,CPT,...,NXRT,OPI,RESI,RPT,SNR,SRC,SUI,UDFI,UDR,UMH
Date,,,,,,,,,,,,,,,,,,,,,
2019-05-02,47.150002,15.410000,49.060001,24.010000,15.740000,201.440002,28.870001,11.10,14.00,99.980003,...,37.520000,26.299999,9.94,12.54,5.59,42.400002,123.839996,4.91,44.259998,13.89
2019-05-03,47.310001,16.030001,50.049999,24.280001,16.059999,202.160004,29.010000,11.29,14.05,100.830002,...,38.930000,28.410000,10.29,12.78,6.09,41.700001,123.709999,5.00,44.470001,13.95
2019-05-06,47.110001,16.420000,49.759998,24.160000,16.100000,200.570007,29.010000,11.40,14.19,100.889999,...,39.110001,28.030001,10.07,12.84,6.11,42.150002,123.919998,5.00,44.369999,13.65
2019-05-07,46.250000,16.160000,49.080002,23.660000,15.920000,196.789993,29.010000,11.11,14.18,99.070000,...,38.060001,26.889999,10.03,12.45,6.01,41.509998,121.839996,4.85,43.549999,13.15
2019-05-08,45.910000,16.100000,49.110001,23.530001,15.930000,196.449997,29.010000,11.04,14.22,98.750000,...,39.970001,26.809999,11.08,12.52,6.12,41.540001,121.150002,4.92,43.599998,13.22

In [7]:
#calculate percent change and clean data for REIT-residential stocks
stocks_returns = REIT_stocks.pct_change()
stocks_returns.dropna(inplace =True)
stocks_returns.head()

Symbols,ACC,AHH,AIV,AMH,APTS,AVB,BOWFF,BRG,BRT,CPT,...,NXRT,OPI,RESI,RPT,SNR,SRC,SUI,UDFI,UDR,UMH
Date,,,,,,,,,,,,,,,,,,,,,
2019-11-13,0.004533,0.012048,0.015524,0.014792,0.002320,0.012441,0.011032,0.006873,-0.009217,0.012620,...,0.017457,0.005979,-0.019964,0.007607,0.003995,0.006475,0.016620,-0.040000,0.014034,-0.013690
2019-11-14,0.005801,0.007937,0.003356,0.008439,0.029321,0.004868,0.000000,0.000000,0.005233,0.006593,...,0.007626,0.001564,0.002778,0.007550,0.002653,0.013671,0.004008,0.031250,0.007549,-0.014541
2019-11-15,0.005554,0.006187,0.007432,0.008368,0.020240,0.008983,0.057800,0.005119,-0.017930,0.007447,...,0.009249,0.000000,-0.000923,-0.007493,0.025132,0.006942,0.010137,-0.006734,0.008117,-0.004024
2019-11-18,0.008286,-0.010062,0.007008,-0.001886,0.005878,0.003449,0.016448,-0.008489,-0.004711,0.002672,...,0.001666,0.009994,0.001848,0.002745,0.015484,0.005318,0.012733,-0.003390,0.005161,-0.006734
2019-11-19,-0.000421,0.002823,0.001648,-0.002645,-0.005113,0.008315,-0.014262,0.000000,0.015976,0.001776,...,-0.006446,-0.005257,0.000000,0.001369,0.010165,0.002743,0.013688,0.020408,0.003902,0.010169

In [8]:
#set up data frame reading data from Single Family Home Prices by State
housing_prices_df = pd.read_csv('./Data/State_Zhvi_SingleFamilyResidence.csv')
housing_prices_df.head()

,RegionID,SizeRank,RegionName,RegionType,StateName,1996-01-31,1996-02-29,1996-03-31,1996-04-30,1996-05-31,...,2019-06-30,2019-07-31,2019-08-31,2019-09-30,2019-10-31,2019-11-30,2019-12-31,2020-01-31,2020-02-29,2020-03-31
0,9,0,California,State,CA,164133.0,163906.0,163766.0,163493.0,163318.0,...,562386.0,563398.0,564896.0,566911.0,569019.0,571142.0,574142.0,577601.0,581867.0,586271.0
1,54,1,Texas,State,TX,98043.0,98068.0,98099.0,98226.0,98368.0,...,207244.0,207904.0,208526.0,209208.0,209696.0,210191.0,210559.0,211003.0,211434.0,212043.0
2,43,2,New York,State,NY,119646.0,119373.0,119211.0,118966.0,118867.0,...,266732.0,267217.0,267654.0,268098.0,268639.0,269259.0,269990.0,270660.0,271355.0,271984.0
3,14,3,Florida,State,FL,103902.0,104008.0,104130.0,104360.0,104581.0,...,255766.0,256449.0,257111.0,257807.0,258590.0,259429.0,260224.0,261244.0,262536.0,263965.0
4,21,4,Illinois,State,IL,139641.0,139388.0,139067.0,138688.0,138168.0,...,203835.0,204142.0,204371.0,204487.0,204550.0,204609.0,204767.0,205009.0,205222.0,205522.0

In [9]:
#clean up housing price data to get time as an index and state name as a column
#drop regionID, size, region, name, region type
housing_prices_df.drop(['RegionID','SizeRank','RegionName','RegionType'],axis=1,inplace=True)

In [10]:
housing_prices_df.set_index(['StateName'],inplace=True)
housing_prices_df.head()

,1996-01-31,1996-02-29,1996-03-31,1996-04-30,1996-05-31,1996-06-30,1996-07-31,1996-08-31,1996-09-30,1996-10-31,...,2019-06-30,2019-07-31,2019-08-31,2019-09-30,2019-10-31,2019-11-30,2019-12-31,2020-01-31,2020-02-29,2020-03-31
StateName,,,,,,,,,,,,,,,,,,,,,
CA,164133.0,163906.0,163766.0,163493.0,163318.0,163183.0,163107.0,163113.0,163162.0,163339.0,...,562386.0,563398.0,564896.0,566911.0,569019.0,571142.0,574142.0,577601.0,581867.0,586271.0
TX,98043.0,98068.0,98099.0,98226.0,98368.0,98485.0,98577.0,98692.0,98843.0,99019.0,...,207244.0,207904.0,208526.0,209208.0,209696.0,210191.0,210559.0,211003.0,211434.0,212043.0
NY,119646.0,119373.0,119211.0,118966.0,118867.0,118801.0,118722.0,118645.0,118602.0,118608.0,...,266732.0,267217.0,267654.0,268098.0,268639.0,269259.0,269990.0,270660.0,271355.0,271984.0
FL,103902.0,104008.0,104130.0,104360.0,104581.0,104823.0,105055.0,105262.0,105408.0,105562.0,...,255766.0,256449.0,257111.0,257807.0,258590.0,259429.0,260224.0,261244.0,262536.0,263965.0
IL,139641.0,139388.0,139067.0,138688.0,138168.0,137858.0,137428.0,137883.0,138584.0,140046.0,...,203835.0,204142.0,204371.0,204487.0,204550.0,204609.0,204767.0,205009.0,205222.0,205522.0

In [11]:
#switch time to rows and state name to column
housing_prices_df=housing_prices_df.T
housing_prices_df.head()

StateName,CA,TX,NY,FL,IL,PA,OH,MI,GA,NC,...,NH,RI,MT,DE,SD,AK,ND,VT,DC,WY
1996-01-31,164133.0,98043.0,119646.0,103902.0,139641.0,96738.0,92249.0,88554.0,103052.0,110441.0,...,110481.0,128809.0,NaN,132770.0,84567.0,128799.0,NaN,109627.0,195151.0,NaN
1996-02-29,163906.0,98068.0,119373.0,104008.0,139388.0,96676.0,92362.0,88873.0,103209.0,110656.0,...,110217.0,128916.0,NaN,132713.0,84961.0,129299.0,NaN,109607.0,194150.0,NaN
1996-03-31,163766.0,98099.0,119211.0,104130.0,139067.0,96615.0,92511.0,89176.0,103370.0,110849.0,...,110037.0,128919.0,NaN,132655.0,84923.0,129737.0,NaN,109517.0,193289.0,NaN
1996-04-30,163493.0,98226.0,118966.0,104360.0,138688.0,96516.0,92820.0,89828.0,103716.0,111248.0,...,109767.0,128938.0,NaN,132515.0,84980.0,130648.0,NaN,109372.0,191849.0,NaN
1996-05-31,163318.0,98368.0,118867.0,104581.0,138168.0,96423.0,93141.0,90471.0,104064.0,111641.0,...,109818.0,128778.0,NaN,132638.0,84773.0,131314.0,NaN,109188.0,190734.0,NaN

In [12]:
#calculate percent change and clean data for REIT-residential stocks
housing_returns=housing_prices_df.pct_change()
housing_returns.dropna(inplace=True)
housing_returns.head()

StateName,CA,TX,NY,FL,IL,PA,OH,MI,GA,NC,...,NH,RI,MT,DE,SD,AK,ND,VT,DC,WY
2005-02-28,0.016454,0.003097,0.008752,0.018160,0.006443,0.007740,0.002938,0.002118,0.002479,0.003287,...,0.008523,0.010545,0.014091,0.009775,0.005448,0.008223,-0.001852,0.009794,0.014319,0.006661
2005-03-31,0.015761,0.001918,0.008298,0.018799,0.006283,0.007899,0.002929,0.002381,0.002635,0.003020,...,0.008178,0.008658,0.011732,0.008117,0.006043,0.008493,-0.000474,0.009524,0.016828,0.005430
2005-04-30,0.016462,0.001358,0.008793,0.019779,0.006852,0.008139,0.002584,0.002329,0.003195,0.003896,...,0.008424,0.008561,0.007645,0.009804,0.006710,0.007753,0.001134,0.011770,0.020393,0.003668
2005-05-31,0.014236,0.001958,0.008544,0.020817,0.006768,0.008744,0.002234,0.002723,0.003818,0.003770,...,0.006217,0.008021,0.005876,0.013297,0.006034,0.008281,0.005211,0.009192,0.014016,0.005034
2005-06-30,0.013029,0.002995,0.008292,0.022250,0.006983,0.009049,0.002283,0.001945,0.004106,0.004563,...,0.005259,0.007168,0.006527,0.009281,0.005347,0.006092,0.006673,0.008423,0.014435,0.004593

# Statistical Analysis Functions
* calculate percent change (done above in data clean up and retrieval)
* calculate variance/covariance and beta
* calculate 30 day rolling average

In [13]:
#percent change dataframes of results from above
sp500_returns.head()

               sp500
DATE
2019-05-03  0.009638
2019-05-06 -0.004471
2019-05-07 -0.016512
2019-05-08 -0.001605
2019-05-09 -0.003021

In [14]:
stocks_returns.head()

Symbols,ACC,AHH,AIV,AMH,APTS,AVB,BOWFF,BRG,BRT,CPT,...,NXRT,OPI,RESI,RPT,SNR,SRC,SUI,UDFI,UDR,UMH
Date,,,,,,,,,,,,,,,,,,,,,
2019-11-13,0.004533,0.012048,0.015524,0.014792,0.002320,0.012441,0.011032,0.006873,-0.009217,0.012620,...,0.017457,0.005979,-0.019964,0.007607,0.003995,0.006475,0.016620,-0.040000,0.014034,-0.013690
2019-11-14,0.005801,0.007937,0.003356,0.008439,0.029321,0.004868,0.000000,0.000000,0.005233,0.006593,...,0.007626,0.001564,0.002778,0.007550,0.002653,0.013671,0.004008,0.031250,0.007549,-0.014541
2019-11-15,0.005554,0.006187,0.007432,0.008368,0.020240,0.008983,0.057800,0.005119,-0.017930,0.007447,...,0.009249,0.000000,-0.000923,-0.007493,0.025132,0.006942,0.010137,-0.006734,0.008117,-0.004024
2019-11-18,0.008286,-0.010062,0.007008,-0.001886,0.005878,0.003449,0.016448,-0.008489,-0.004711,0.002672,...,0.001666,0.009994,0.001848,0.002745,0.015484,0.005318,0.012733,-0.003390,0.005161,-0.006734
2019-11-19,-0.000421,0.002823,0.001648,-0.002645,-0.005113,0.008315,-0.014262,0.000000,0.015976,0.001776,...,-0.006446,-0.005257,0.000000,0.001369,0.010165,0.002743,0.013688,0.020408,0.003902,0.010169

In [15]:
housing_returns.head()

StateName,CA,TX,NY,FL,IL,PA,OH,MI,GA,NC,...,NH,RI,MT,DE,SD,AK,ND,VT,DC,WY
2005-02-28,0.016454,0.003097,0.008752,0.018160,0.006443,0.007740,0.002938,0.002118,0.002479,0.003287,...,0.008523,0.010545,0.014091,0.009775,0.005448,0.008223,-0.001852,0.009794,0.014319,0.006661
2005-03-31,0.015761,0.001918,0.008298,0.018799,0.006283,0.007899,0.002929,0.002381,0.002635,0.003020,...,0.008178,0.008658,0.011732,0.008117,0.006043,0.008493,-0.000474,0.009524,0.016828,0.005430
2005-04-30,0.016462,0.001358,0.008793,0.019779,0.006852,0.008139,0.002584,0.002329,0.003195,0.003896,...,0.008424,0.008561,0.007645,0.009804,0.006710,0.007753,0.001134,0.011770,0.020393,0.003668
2005-05-31,0.014236,0.001958,0.008544,0.020817,0.006768,0.008744,0.002234,0.002723,0.003818,0.003770,...,0.006217,0.008021,0.005876,0.013297,0.006034,0.008281,0.005211,0.009192,0.014016,0.005034
2005-06-30,0.013029,0.002995,0.008292,0.022250,0.006983,0.009049,0.002283,0.001945,0.004106,0.004563,...,0.005259,0.007168,0.006527,0.009281,0.005347,0.006092,0.006673,0.008423,0.014435,0.004593

------

In [16]:
#function for calculating beta 
def get_beta(returns_df):
    beta_dict={}
    columns=returns_df.columns
    for column in columns:
        covariance = returns_df[column].cov(sp500_returns['sp500'])
        variance = returns_df[column].var()
        beta = covariance/variance
        beta_dict.update({column:[beta]}) 
        beta_df=pd.DataFrame.from_dict(beta_dict)
    return beta_df
get_beta(stocks_returns)

,ACC,AHH,AIV,AMH,APTS,AVB,BOWFF,BRG,BRT,CPT,...,NXRT,OPI,RESI,RPT,SNR,SRC,SUI,UDFI,UDR,UMH
0,0.419839,0.364358,0.457795,0.664365,0.317981,0.564155,0.217785,0.235415,0.322269,0.627628,...,0.378544,0.456668,0.385677,0.281483,0.264614,0.354227,0.52942,0.112234,0.612031,0.436315

-----

In [17]:
# Function for Calculating Rolling Average of 30 days (1 Month Approximately)
def rolling_30_day_avg(values):
    rolling_30 = values.rolling(window = 30).mean()
    rolling_30.dropna(inplace = True)
    return rolling_30
rolling_30_day_avg(REIT_stocks)

Symbols,ACC,AHH,AIV,AMH,APTS,AVB,BOWFF,BRG,BRT,CPT,...,NXRT,OPI,RESI,RPT,SNR,SRC,SUI,UDFI,UDR,UMH
Date,,,,,,,,,,,,,,,,,,,,,
2019-12-24,46.982000,18.130666,52.539000,26.162000,13.498667,212.177334,35.770666,11.933333,17.559000,109.198333,...,46.762000,32.527666,11.859333,14.546000,7.756333,50.745333,157.283001,2.987333,47.299999,15.437667
2019-12-26,46.981000,18.149000,52.472667,26.169333,13.506333,212.155001,35.843000,11.937667,17.549333,109.055333,...,46.637000,32.521333,11.905000,14.551667,7.759667,50.732000,157.089667,2.985667,47.272333,15.447333
2019-12-27,46.983000,18.166000,52.393000,26.167667,13.513667,212.063334,35.900000,11.939667,17.546000,108.870333,...,46.480000,32.514000,11.950667,14.557000,7.763000,50.711667,156.821667,2.982667,47.227333,15.463333
2019-12-30,46.977333,18.179333,52.303667,26.161000,13.505000,211.896667,35.957000,11.947333,17.531000,108.665333,...,46.307000,32.507666,11.993333,14.560333,7.763333,50.648000,156.517334,2.973667,47.170000,15.483333
2019-12-31,46.976000,18.194666,52.218000,26.151000,13.495333,211.735667,35.948666,11.956333,17.530667,108.458999,...,46.206666,32.511666,12.044000,14.576000,7.760000,50.595000,156.206334,2.972667,47.112000,15.512667
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
2020-04-23,29.310667,9.477333,34.958333,22.895333,7.025667,154.515667,16.758333,5.928000,9.412000,81.069333,...,27.860667,24.767333,11.295667,6.267667,2.599333,26.478333,120.820667,1.751333,36.248333,10.654000
2020-04-24,29.145333,9.377667,34.686333,22.799000,6.972667,153.729001,16.699333,5.860333,9.298333,80.942333,...,27.628333,24.830333,11.302333,6.114667,2.570667,26.147333,120.300667,1.738000,36.082333,10.638000
2020-04-27,28.972000,9.256000,34.370333,22.656000,6.938000,152.648667,16.657000,5.774000,9.209667,80.621333,...,27.270333,24.928667,11.291333,5.957667,2.539333,25.781000,119.890666,1.723000,35.847667,10.593667
2020-04-28,29.255666,9.308333,34.427000,22.648333,6.933000,152.615334,16.660667,5.743333,9.207333,80.875333,...,27.143000,25.223000,11.381667,5.913000,2.537333,25.912333,120.430000,1.714333,35.879000,10.661000
2020-04-29,29.542666,9.331333,34.449000,22.645667,6.907667,152.089334,16.694667,5.691333,9.224333,80.964666,...,26.967000,25.453333,11.433667,5.877000,2.554667,26.092333,120.510000,1.711000,35.854667,10.751333

----

In [26]:
#standard deviation (volatility)
def get_std(returns):
    std_dev_returns = returns.std()
    std_dev_df = pd.Series.to_frame(std_dev_returns)
    std_dev_df.columns = ['Std_Dev']
    return std_dev_df

get_std(stocks_returns).head()

          Std_Dev
Symbols
ACC      0.051734
AHH      0.055504
AIV      0.045722
AMH      0.033751
APTS     0.049124

---

# Determining the Top 5 Performers in the Data
## Top 5 REIT Stocks and Top 5 States for Housing Performance
* Based on Beta

In [23]:
#getting the top pick of the day for REIT residential stocks from beta
beta_df = get_beta(stocks_returns)  
def toptick_beta(beta_df):
    beta_transpose_df=beta_df.T 
    beta_transpose_df.columns=['beta_values']
    sorted_beta_df=beta_transpose_df.sort_values(by='beta_values', ascending=False)
    result_beta=sorted_beta_df.iloc[0][0]
    result_stock=sorted_beta_df.index[0]
    return print(f"The stock best to choose today according to beta: {result_stock} with beta of {result_beta}")
toptick(beta_df)

The stock best to choose today according to beta: AMH with beta of 0.6643651551139493

In [24]:
#getting the top 5 picks of the day for REIT residential stocks
def top5_beta_picks(beta_df):
    beta_transpose_df=beta_df.T
    beta_transpose_df.columns=['beta_values']
    sorted_beta_df=beta_transpose_df.sort_values(by='beta_values', ascending=False)
    top5_df=sorted_beta_df.head()
    return top5_df
top5picks(beta_df)

     beta_values
AMH     0.664365
CPT     0.627628
EQR     0.622135
UDR     0.612031
MAA     0.606802

---

## Monte Carlo Simulations on Portfolio of Top 5 Picks
* For Top 5 Stocks in REIT-residential Portfolio
* For Top 5 States in Housing Price Performance

In [21]:
#