In [1]:
#import all necessary libraries and tools
import numpy as np
import pandas as pd
import os
from datetime import datetime, timedelta
import matplotlib.pyplot as plt
import alpaca_trade_api as tradeapi
%matplotlib inline
import pandas_datareader.data as web

-------

## Pull in Data for Analysis Purposes
* S&P500 Index
* REIT Residential Stocks from Nasdaq
* Historical Single Family Home Price Data by State from Zillow

In [2]:
#set time frame for data from a year by day
timeframe = '1D'
end_date = datetime.now()
start_date = end_date + timedelta(-365)

In [3]:
#get s&p 500 index information as a whole - for use in beta calculations
sp500 = web.DataReader(['sp500'], 'fred', start_date, end_date)
sp500.head()

              sp500
DATE
2019-05-06  2932.47
2019-05-07  2884.05
2019-05-08  2879.42
2019-05-09  2870.72
2019-05-10  2881.40

In [4]:
#calculate percent change and clean data for s&p 500 index
sp500_returns = sp500.pct_change()
sp500_returns.dropna(inplace = True)
sp500_returns.head()

               sp500
DATE
2019-05-07 -0.016512
2019-05-08 -0.001605
2019-05-09 -0.003021
2019-05-10  0.003720
2019-05-13 -0.024131

In [5]:
#set up data frame reading data from the REIT-residential stocks
screened_stocks_df = pd.read_csv('./Data/REIT_stocks.csv')
screened_stocks_tickers = screened_stocks_df['Ticker']
tickers= screened_stocks_tickers.tolist()
tickers.pop(2) #clean out 2 stocks with incomplete data

'AIII'

In [6]:
#pull closing price data for REIT-residential stocks
read_stocks = web.DataReader(tickers, 'yahoo',start_date,end_date)
REIT_stocks = read_stocks['Close']
REIT_stocks.head()

Symbols,ACC,AHH,AIV,AMH,APTS,AVB,BOWFF,BRG,BRT,CPT,...,NXRT,OPI,RESI,RPT,SNR,SRC,SUI,UDFI,UDR,UMH
Date,,,,,,,,,,,,,,,,,,,,,
2019-05-03,47.310001,16.030001,50.049999,24.280001,16.059999,202.160004,29.01,11.29,14.05,100.830002,...,38.930000,28.410000,10.29,12.78,6.09,41.700001,123.709999,5.00,44.470001,13.95
2019-05-06,47.110001,16.420000,49.759998,24.160000,16.100000,200.570007,29.01,11.40,14.19,100.889999,...,39.110001,28.030001,10.07,12.84,6.11,42.150002,123.919998,5.00,44.369999,13.65
2019-05-07,46.250000,16.160000,49.080002,23.660000,15.920000,196.789993,29.01,11.11,14.18,99.070000,...,38.060001,26.889999,10.03,12.45,6.01,41.509998,121.839996,4.85,43.549999,13.15
2019-05-08,45.910000,16.100000,49.110001,23.530001,15.930000,196.449997,29.01,11.04,14.22,98.750000,...,39.970001,26.809999,11.08,12.52,6.12,41.540001,121.150002,4.92,43.599998,13.22
2019-05-09,45.919998,16.260000,49.410000,23.639999,15.880000,198.529999,29.01,10.94,14.17,99.849998,...,41.349998,26.930000,11.00,12.52,6.21,41.720001,122.059998,5.10,43.709999,13.30

In [7]:
#calculate percent change and clean data for REIT-residential stocks
stocks_returns = REIT_stocks.pct_change()
stocks_returns.dropna(inplace =True)
stocks_returns.head()

Symbols,ACC,AHH,AIV,AMH,APTS,AVB,BOWFF,BRG,BRT,CPT,...,NXRT,OPI,RESI,RPT,SNR,SRC,SUI,UDFI,UDR,UMH
Date,,,,,,,,,,,,,,,,,,,,,
2019-11-13,0.004533,0.012048,0.015524,0.014792,0.002320,0.012441,0.011032,0.006873,-0.009217,0.012620,...,0.017457,0.005979,-0.019964,0.007607,0.003995,0.006475,0.016620,-0.040000,0.014034,-0.013690
2019-11-14,0.005801,0.007937,0.003356,0.008439,0.029321,0.004868,0.000000,0.000000,0.005233,0.006593,...,0.007626,0.001564,0.002778,0.007550,0.002653,0.013671,0.004008,0.031250,0.007549,-0.014541
2019-11-15,0.005554,0.006187,0.007432,0.008368,0.020240,0.008983,0.057800,0.005119,-0.017930,0.007447,...,0.009249,0.000000,-0.000923,-0.007493,0.025132,0.006942,0.010137,-0.006734,0.008117,-0.004024
2019-11-18,0.008286,-0.010062,0.007008,-0.001886,0.005878,0.003449,0.016448,-0.008489,-0.004711,0.002672,...,0.001666,0.009994,0.001848,0.002745,0.015484,0.005318,0.012733,-0.003390,0.005161,-0.006734
2019-11-19,-0.000421,0.002823,0.001648,-0.002645,-0.005113,0.008315,-0.014262,0.000000,0.015976,0.001776,...,-0.006446,-0.005257,0.000000,0.001369,0.010165,0.002743,0.013688,0.020408,0.003902,0.010169

In [8]:
#set up data frame reading data from Single Family Home Prices by State
housing_prices_df = pd.read_csv('./Data/State_Zhvi_SingleFamilyResidence.csv')
housing_prices_df.head()

,RegionID,SizeRank,RegionName,RegionType,StateName,1996-01-31,1996-02-29,1996-03-31,1996-04-30,1996-05-31,...,2019-06-30,2019-07-31,2019-08-31,2019-09-30,2019-10-31,2019-11-30,2019-12-31,2020-01-31,2020-02-29,2020-03-31
0,9,0,California,State,CA,164133.0,163906.0,163766.0,163493.0,163318.0,...,562386.0,563398.0,564896.0,566911.0,569019.0,571142.0,574142.0,577601.0,581867.0,586271.0
1,54,1,Texas,State,TX,98043.0,98068.0,98099.0,98226.0,98368.0,...,207244.0,207904.0,208526.0,209208.0,209696.0,210191.0,210559.0,211003.0,211434.0,212043.0
2,43,2,New York,State,NY,119646.0,119373.0,119211.0,118966.0,118867.0,...,266732.0,267217.0,267654.0,268098.0,268639.0,269259.0,269990.0,270660.0,271355.0,271984.0
3,14,3,Florida,State,FL,103902.0,104008.0,104130.0,104360.0,104581.0,...,255766.0,256449.0,257111.0,257807.0,258590.0,259429.0,260224.0,261244.0,262536.0,263965.0
4,21,4,Illinois,State,IL,139641.0,139388.0,139067.0,138688.0,138168.0,...,203835.0,204142.0,204371.0,204487.0,204550.0,204609.0,204767.0,205009.0,205222.0,205522.0

In [9]:
#clean up housing price data to get time as an index and state name as a column
#drop regionID, size, region, name, region type
housing_prices_df.drop(['RegionID','SizeRank','RegionName','RegionType'],axis=1,inplace=True)

In [10]:
housing_prices_df.set_index(['StateName'],inplace=True)
housing_prices_df.head()

,1996-01-31,1996-02-29,1996-03-31,1996-04-30,1996-05-31,1996-06-30,1996-07-31,1996-08-31,1996-09-30,1996-10-31,...,2019-06-30,2019-07-31,2019-08-31,2019-09-30,2019-10-31,2019-11-30,2019-12-31,2020-01-31,2020-02-29,2020-03-31
StateName,,,,,,,,,,,,,,,,,,,,,
CA,164133.0,163906.0,163766.0,163493.0,163318.0,163183.0,163107.0,163113.0,163162.0,163339.0,...,562386.0,563398.0,564896.0,566911.0,569019.0,571142.0,574142.0,577601.0,581867.0,586271.0
TX,98043.0,98068.0,98099.0,98226.0,98368.0,98485.0,98577.0,98692.0,98843.0,99019.0,...,207244.0,207904.0,208526.0,209208.0,209696.0,210191.0,210559.0,211003.0,211434.0,212043.0
NY,119646.0,119373.0,119211.0,118966.0,118867.0,118801.0,118722.0,118645.0,118602.0,118608.0,...,266732.0,267217.0,267654.0,268098.0,268639.0,269259.0,269990.0,270660.0,271355.0,271984.0
FL,103902.0,104008.0,104130.0,104360.0,104581.0,104823.0,105055.0,105262.0,105408.0,105562.0,...,255766.0,256449.0,257111.0,257807.0,258590.0,259429.0,260224.0,261244.0,262536.0,263965.0
IL,139641.0,139388.0,139067.0,138688.0,138168.0,137858.0,137428.0,137883.0,138584.0,140046.0,...,203835.0,204142.0,204371.0,204487.0,204550.0,204609.0,204767.0,205009.0,205222.0,205522.0

In [11]:
#just get the data over the last year so its comparable range to the last year of data for REIT stocks and SP500
housing_prices_df.columns[0:-12]

Index(['1996-01-31', '1996-02-29', '1996-03-31', '1996-04-30', '1996-05-31',
       '1996-06-30', '1996-07-31', '1996-08-31', '1996-09-30', '1996-10-31',
       ...
       '2018-06-30', '2018-07-31', '2018-08-31', '2018-09-30', '2018-10-31',
       '2018-11-30', '2018-12-31', '2019-01-31', '2019-02-28', '2019-03-31'],
      dtype='object', length=279)

In [12]:
#drop data before end of April/start of May 2019
housing_prices_df.drop(housing_prices_df.columns[0:-12], axis=1)

,2019-04-30,2019-05-31,2019-06-30,2019-07-31,2019-08-31,2019-09-30,2019-10-31,2019-11-30,2019-12-31,2020-01-31,2020-02-29,2020-03-31
StateName,,,,,,,,,,,,
CA,560995.0,561637.0,562386.0,563398.0,564896.0,566911.0,569019.0,571142.0,574142.0,577601.0,581867.0,586271.0
TX,206192.0,206662.0,207244.0,207904.0,208526.0,209208.0,209696.0,210191.0,210559.0,211003.0,211434.0,212043.0
NY,265436.0,266169.0,266732.0,267217.0,267654.0,268098.0,268639.0,269259.0,269990.0,270660.0,271355.0,271984.0
FL,254767.0,255204.0,255766.0,256449.0,257111.0,257807.0,258590.0,259429.0,260224.0,261244.0,262536.0,263965.0
IL,203355.0,203598.0,203835.0,204142.0,204371.0,204487.0,204550.0,204609.0,204767.0,205009.0,205222.0,205522.0
PA,192016.0,192526.0,193275.0,194047.0,194797.0,195468.0,196157.0,196798.0,197446.0,198035.0,198650.0,199311.0
OH,147244.0,147791.0,148422.0,149138.0,149836.0,150560.0,151239.0,151832.0,152421.0,153087.0,153767.0,154443.0
MI,165683.0,166258.0,166946.0,167705.0,168390.0,169140.0,169880.0,170716.0,171450.0,172261.0,173050.0,174044.0
GA,197563.0,198540.0,199331.0,200102.0,200931.0,201723.0,202482.0,203101.0,203770.0,204525.0,205432.0,206277.0
NC,199953.0,200794.0,201657.0,202470.0,203310.0,204160.0,205072.0,205940.0,206774.0,207537.0,208447.0,209429.0
NJ,344179.0,344716.0,345291.0,346019.0,346545.0,346884.0,347264.0,347722.0,348517.0,349410.0,350433.0,351382.0
VA,284283.0,285075.0,285915.0,286818.0,287846.0,288922.0,289949.0,290684.0,291276.0,291795.0,292441.0,293064.0
WA,406686.0,407659.0,409160.0,411107.0,413263.0,415388.0,417540.0,420109.0,423181.0,426520.0,430155.0,434222.0
MA,427121.0,427327.0,427745.0,428032.0,428824.0,430097.0,431656.0,433125.0,434599.0,436598.0,438822.0,441507.0
IN,151165.0,151907.0,152562.0,153197.0,153849.0,154644.0,155499.0,156232.0,156824.0,157397.0,158142.0,158876.0
AZ,265203.0,266055.0,267246.0,268612.0,270270.0,271740.0,273403.0,275153.0,277367.0,279482.0,281581.0,283974.0
TN,180934.0,181710.0,182441.0,183145.0,183919.0,184786.0,185726.0,186743.0,187767.0,188809.0,189944.0,191179.0
MO,160648.0,161182.0,161770.0,162325.0,162782.0,163308.0,163857.0,164431.0,164925.0,165399.0,165921.0,166494.0
MD,318748.0,318877.0,319176.0,319564.0,320026.0,320549.0,321063.0,321331.0,321649.0,322085.0,322627.0,323466.0
WI,195263.0,196036.0,196834.0,197675.0,198608.0,199455.0,200373.0,201218.0,202100.0,202911.0,203670.0,204311.0
MN,256440.0,257127.0,258140.0,259185.0,260090.0,261104.0,262110.0,263126.0,264071.0,264968.0,265970.0,267135.0
CO,406200.0,406449.0,407102.0,407985.0,409100.0,410238.0,411177.0,412016.0,413219.0,414960.0,416567.0,418359.0
AL,135476.0,135955.0,136491.0,137034.0,137592.0,138138.0,138748.0,139404.0,140138.0,140881.0,141646.0,142463.0
SC,185801.0,186338.0,187016.0,187708.0,188361.0,188995.0,189684.0,190311.0,190927.0,191473.0,192063.0,192752.0
LA,166902.0,167148.0,167390.0,167699.0,167863.0,168098.0,168288.0,168677.0,169226.0,169794.0,170279.0,170762.0
KY,143234.0,143868.0,144527.0,145136.0,145771.0,146431.0,147116.0,147801.0,148449.0,149025.0,149507.0,150034.0
OR,362690.0,363092.0,363944.0,364705.0,365737.0,366808.0,368321.0,369477.0,370727.0,371987.0,373472.0,375428.0
OK,126949.0,127298.0,127810.0,128383.0,128964.0,129481.0,129956.0,130518.0,131073.0,131792.0,132416.0,133143.0
CT,271849.0,271948.0,271993.0,272027.0,271967.0,272177.0,272390.0,272737.0,272955.0,273721.0,274261.0,274918.0
IA,152740.0,153046.0,153544.0,154045.0,154525.0,154883.0,155255.0,155618.0,155947.0,156262.0,156466.0,156707.0
MS,123271.0,123716.0,124129.0,124511.0,124920.0,125260.0,125624.0,125980.0,126382.0,126780.0,127092.0,127371.0
AR,126169.0,126555.0,127013.0,127431.0,127899.0,128338.0,128814.0,129169.0,129477.0,129787.0,130180.0,130638.0
KS,148642.0,149080.0,149633.0,150263.0,150878.0,151398.0,151871.0,152198.0,152584.0,152985.0,153530.0,154107.0
UT,344263.0,345340.0,346832.0,348326.0,350081.0,351797.0,353279.0,354675.0,355969.0,357764.0,359461.0,361473.0
NV,314796.0,315013.0,314619.0,313810.0,313051.0,313054.0,313880.0,315209.0,316317.0,317782.0,319070.0,321471.0
NM,200199.0,200944.0,201956.0,203186.0,204310.0,205422.0,206108.0,206887.0,207718.0,208748.0,209924.0,211219.0
WV,104681.0,105012.0,105377.0,105743.0,106091.0,106375.0,106632.0,106695.0,106761.0,106796.0,106871.0,106928.0
NE,171279.0,171986.0,172665.0,173460.0,174268.0,175029.0,175725.0,176331.0,176866.0,177484.0,178232.0,179044.0
ID,274643.0,276665.0,278180.0,279801.0,282020.0,284441.0,286922.0,288939.0,291208.0,293472.0,296233.0,298730.0
HI,727274.0,727176.0,727216.0,727326.0,727140.0,726770.0,726659.0,726350.0,726112.0,725884.0,725541.0,725070.0
ME,232046.0,232816.0,233740.0,234575.0,235553.0,236768.0,238241.0,239852.0,241491.0,243485.0,245445.0,247668.0
NH,295278.0,296312.0,297409.0,298543.0,299134.0,300032.0,301073.0,302575.0,304080.0,305718.0,307795.0,310210.0
RI,302471.0,303187.0,303801.0,304719.0,305410.0,306214.0,307172.0,308560.0,309855.0,311201.0,312770.0,314180.0
MT,275749.0,276544.0,277496.0,278432.0,280020.0,281352.0,282733.0,283749.0,285083.0,286481.0,287692.0,288889.0
DE,259502.0,259539.0,259731.0,259851.0,260015.0,260136.0,260016.0,259757.0,259632.0,259505.0,259586.0,259392.0
SD,202925.0,203477.0,203995.0,204477.0,205067.0,205622.0,206197.0,206780.0,207515.0,208316.0,209269.0,210171.0
AK,321433.0,322265.0,323118.0,323206.0,324163.0,324420.0,322877.0,321087.0,319754.0,319753.0,317470.0,314518.0
ND,238892.0,239192.0,239808.0,240213.0,240678.0,241141.0,241705.0,242060.0,242341.0,242439.0,242756.0,243127.0
VT,258849.0,259470.0,260592.0,261481.0,262380.0,262904.0,263483.0,264080.0,264703.0,265440.0,265826.0,266352.0
DC,729052.0,733630.0,734174.0,734009.0,735567.0,737117.0,738695.0,739461.0,740966.0,743270.0,745717.0,747179.0
WY,243290.0,244762.0,246080.0,247482.0,248786.0,250004.0,251161.0,252114.0,253160.0,254109.0,255026.0,255654.0

In [13]:
#switch time to rows and state name to column
housing_prices_df=housing_prices_df.T
housing_prices_df.head()

StateName,CA,TX,NY,FL,IL,PA,OH,MI,GA,NC,...,NH,RI,MT,DE,SD,AK,ND,VT,DC,WY
1996-01-31,164133.0,98043.0,119646.0,103902.0,139641.0,96738.0,92249.0,88554.0,103052.0,110441.0,...,110481.0,128809.0,NaN,132770.0,84567.0,128799.0,NaN,109627.0,195151.0,NaN
1996-02-29,163906.0,98068.0,119373.0,104008.0,139388.0,96676.0,92362.0,88873.0,103209.0,110656.0,...,110217.0,128916.0,NaN,132713.0,84961.0,129299.0,NaN,109607.0,194150.0,NaN
1996-03-31,163766.0,98099.0,119211.0,104130.0,139067.0,96615.0,92511.0,89176.0,103370.0,110849.0,...,110037.0,128919.0,NaN,132655.0,84923.0,129737.0,NaN,109517.0,193289.0,NaN
1996-04-30,163493.0,98226.0,118966.0,104360.0,138688.0,96516.0,92820.0,89828.0,103716.0,111248.0,...,109767.0,128938.0,NaN,132515.0,84980.0,130648.0,NaN,109372.0,191849.0,NaN
1996-05-31,163318.0,98368.0,118867.0,104581.0,138168.0,96423.0,93141.0,90471.0,104064.0,111641.0,...,109818.0,128778.0,NaN,132638.0,84773.0,131314.0,NaN,109188.0,190734.0,NaN

In [14]:
#calculate percent change and clean data for REIT-residential stocks
housing_returns=housing_prices_df.pct_change()
housing_returns.dropna(inplace=True)
housing_returns.head()

StateName,CA,TX,NY,FL,IL,PA,OH,MI,GA,NC,...,NH,RI,MT,DE,SD,AK,ND,VT,DC,WY
2005-02-28,0.016454,0.003097,0.008752,0.018160,0.006443,0.007740,0.002938,0.002118,0.002479,0.003287,...,0.008523,0.010545,0.014091,0.009775,0.005448,0.008223,-0.001852,0.009794,0.014319,0.006661
2005-03-31,0.015761,0.001918,0.008298,0.018799,0.006283,0.007899,0.002929,0.002381,0.002635,0.003020,...,0.008178,0.008658,0.011732,0.008117,0.006043,0.008493,-0.000474,0.009524,0.016828,0.005430
2005-04-30,0.016462,0.001358,0.008793,0.019779,0.006852,0.008139,0.002584,0.002329,0.003195,0.003896,...,0.008424,0.008561,0.007645,0.009804,0.006710,0.007753,0.001134,0.011770,0.020393,0.003668
2005-05-31,0.014236,0.001958,0.008544,0.020817,0.006768,0.008744,0.002234,0.002723,0.003818,0.003770,...,0.006217,0.008021,0.005876,0.013297,0.006034,0.008281,0.005211,0.009192,0.014016,0.005034
2005-06-30,0.013029,0.002995,0.008292,0.022250,0.006983,0.009049,0.002283,0.001945,0.004106,0.004563,...,0.005259,0.007168,0.006527,0.009281,0.005347,0.006092,0.006673,0.008423,0.014435,0.004593

# Statistical Analysis Functions
* calculate percent change (done above in data clean up and retrieval)
* calculate variance/covariance and beta
* calculate 30 day rolling average

In [15]:
#percent change dataframes of results from above
sp500_returns.head()

               sp500
DATE
2019-05-07 -0.016512
2019-05-08 -0.001605
2019-05-09 -0.003021
2019-05-10  0.003720
2019-05-13 -0.024131

In [16]:
stocks_returns.head()

Symbols,ACC,AHH,AIV,AMH,APTS,AVB,BOWFF,BRG,BRT,CPT,...,NXRT,OPI,RESI,RPT,SNR,SRC,SUI,UDFI,UDR,UMH
Date,,,,,,,,,,,,,,,,,,,,,
2019-11-13,0.004533,0.012048,0.015524,0.014792,0.002320,0.012441,0.011032,0.006873,-0.009217,0.012620,...,0.017457,0.005979,-0.019964,0.007607,0.003995,0.006475,0.016620,-0.040000,0.014034,-0.013690
2019-11-14,0.005801,0.007937,0.003356,0.008439,0.029321,0.004868,0.000000,0.000000,0.005233,0.006593,...,0.007626,0.001564,0.002778,0.007550,0.002653,0.013671,0.004008,0.031250,0.007549,-0.014541
2019-11-15,0.005554,0.006187,0.007432,0.008368,0.020240,0.008983,0.057800,0.005119,-0.017930,0.007447,...,0.009249,0.000000,-0.000923,-0.007493,0.025132,0.006942,0.010137,-0.006734,0.008117,-0.004024
2019-11-18,0.008286,-0.010062,0.007008,-0.001886,0.005878,0.003449,0.016448,-0.008489,-0.004711,0.002672,...,0.001666,0.009994,0.001848,0.002745,0.015484,0.005318,0.012733,-0.003390,0.005161,-0.006734
2019-11-19,-0.000421,0.002823,0.001648,-0.002645,-0.005113,0.008315,-0.014262,0.000000,0.015976,0.001776,...,-0.006446,-0.005257,0.000000,0.001369,0.010165,0.002743,0.013688,0.020408,0.003902,0.010169

In [17]:
housing_returns.head()

StateName,CA,TX,NY,FL,IL,PA,OH,MI,GA,NC,...,NH,RI,MT,DE,SD,AK,ND,VT,DC,WY
2005-02-28,0.016454,0.003097,0.008752,0.018160,0.006443,0.007740,0.002938,0.002118,0.002479,0.003287,...,0.008523,0.010545,0.014091,0.009775,0.005448,0.008223,-0.001852,0.009794,0.014319,0.006661
2005-03-31,0.015761,0.001918,0.008298,0.018799,0.006283,0.007899,0.002929,0.002381,0.002635,0.003020,...,0.008178,0.008658,0.011732,0.008117,0.006043,0.008493,-0.000474,0.009524,0.016828,0.005430
2005-04-30,0.016462,0.001358,0.008793,0.019779,0.006852,0.008139,0.002584,0.002329,0.003195,0.003896,...,0.008424,0.008561,0.007645,0.009804,0.006710,0.007753,0.001134,0.011770,0.020393,0.003668
2005-05-31,0.014236,0.001958,0.008544,0.020817,0.006768,0.008744,0.002234,0.002723,0.003818,0.003770,...,0.006217,0.008021,0.005876,0.013297,0.006034,0.008281,0.005211,0.009192,0.014016,0.005034
2005-06-30,0.013029,0.002995,0.008292,0.022250,0.006983,0.009049,0.002283,0.001945,0.004106,0.004563,...,0.005259,0.007168,0.006527,0.009281,0.005347,0.006092,0.006673,0.008423,0.014435,0.004593

------

In [18]:
#function for calculating beta 
def get_beta(returns_df):
    beta_dict={}
    columns=returns_df.columns
    for column in columns:
        covariance = returns_df[column].cov(sp500_returns['sp500'])
        variance = returns_df[column].var()
        beta = covariance/variance
        beta_dict.update({column:[beta]}) 
        beta_df=pd.DataFrame.from_dict(beta_dict)
    return beta_df
get_beta(stocks_returns)

,ACC,AHH,AIV,AMH,APTS,AVB,BOWFF,BRG,BRT,CPT,...,NXRT,OPI,RESI,RPT,SNR,SRC,SUI,UDFI,UDR,UMH
0,0.419443,0.365603,0.459548,0.665315,0.320029,0.566099,0.219862,0.235157,0.323679,0.629144,...,0.380074,0.457788,0.388233,0.282935,0.264826,0.355371,0.530824,0.115411,0.613463,0.437892

-----

In [19]:
# Function for Calculating Rolling Average of 30 days (1 Month Approximately)
def rolling_30_day_avg(values):
    rolling_30 = values.rolling(window = 30).mean()
    rolling_30.dropna(inplace = True)
    return rolling_30
rolling_30_day_avg(REIT_stocks)

Symbols,ACC,AHH,AIV,AMH,APTS,AVB,BOWFF,BRG,BRT,CPT,...,NXRT,OPI,RESI,RPT,SNR,SRC,SUI,UDFI,UDR,UMH
Date,,,,,,,,,,,,,,,,,,,,,
2019-12-24,46.982000,18.130666,52.539000,26.162000,13.498667,212.177334,35.770666,11.933333,17.559000,109.198333,...,46.762000,32.527666,11.859333,14.546000,7.756333,50.745333,157.283001,2.987333,47.299999,15.437667
2019-12-26,46.981000,18.149000,52.472667,26.169333,13.506333,212.155001,35.843000,11.937667,17.549333,109.055333,...,46.637000,32.521333,11.905000,14.551667,7.759667,50.732000,157.089667,2.985667,47.272333,15.447333
2019-12-27,46.983000,18.166000,52.393000,26.167667,13.513667,212.063334,35.900000,11.939667,17.546000,108.870333,...,46.480000,32.514000,11.950667,14.557000,7.763000,50.711667,156.821667,2.982667,47.227333,15.463333
2019-12-30,46.977333,18.179333,52.303667,26.161000,13.505000,211.896667,35.957000,11.947333,17.531000,108.665333,...,46.307000,32.507666,11.993333,14.560333,7.763333,50.648000,156.517334,2.973667,47.170000,15.483333
2019-12-31,46.976000,18.194666,52.218000,26.151000,13.495333,211.735667,35.948666,11.956333,17.530667,108.458999,...,46.206666,32.511666,12.044000,14.576000,7.760000,50.595000,156.206334,2.972667,47.112000,15.512667
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
2020-04-24,29.145333,9.377667,34.686333,22.799000,6.972667,153.729001,16.699333,5.860333,9.298333,80.942333,...,27.628333,24.830333,11.302333,6.114667,2.570667,26.147333,120.300667,1.738000,36.082333,10.638000
2020-04-27,28.972000,9.256000,34.370333,22.656000,6.938000,152.648667,16.657000,5.774000,9.209667,80.621333,...,27.270333,24.928667,11.291333,5.957667,2.539333,25.781000,119.890666,1.723000,35.847667,10.593667
2020-04-28,29.255666,9.308333,34.427000,22.648333,6.933000,152.615334,16.660667,5.743333,9.207333,80.875333,...,27.143000,25.223000,11.381667,5.913000,2.537333,25.912333,120.430000,1.714333,35.879000,10.661000
2020-04-29,29.542666,9.331333,34.449000,22.645667,6.907667,152.089334,16.694667,5.691333,9.224333,80.964666,...,26.967000,25.453333,11.433667,5.877000,2.554667,26.092333,120.510000,1.711000,35.854667,10.751333
2020-04-30,29.958666,9.368000,34.664667,22.693667,6.937000,152.391667,16.920000,5.698000,9.304000,81.329000,...,26.845667,25.679667,11.495333,5.911000,2.604000,26.435333,121.314666,1.709000,35.919333,10.875000

----

In [20]:
#standard deviation (volatility)
def get_std(returns):
    std_dev_returns = returns.std()
    std_dev_df = pd.Series.to_frame(std_dev_returns)
    std_dev_df.columns = ['Std_Dev']
    return std_dev_df

get_std(stocks_returns).head()

          Std_Dev
Symbols
ACC      0.051924
AHH      0.055304
AIV      0.045609
AMH      0.033778
APTS     0.049006

In [21]:
# Annualzied Sharpe Ratios
# Calculate Sharpe Ratio for all portfolio returns
#252 trading days in a year for annualized
sharpe_ratios_df = (stocks_returns.mean() * 252) / (stocks_returns.std() * np.sqrt(252))
sharpe_ratios_df

Symbols
ACC     -0.462703
AHH     -1.033510
AIV     -0.728435
AMH     -0.131196
APTS    -1.244828
AVB     -0.650416
BOWFF   -0.887613
BRG     -0.761769
BRT     -1.129429
CPT     -0.603540
ELS     -0.052518
EQR     -0.809552
ESS     -0.663401
GADS     2.372325
IIPZF   -0.743063
INVH    -0.522482
IRT     -0.709070
MAA     -0.357595
MRTI    -0.932321
NXRT    -0.739784
OPI     -0.183230
RESI     0.250020
RPT     -1.279574
SNR     -0.940123
SRC     -0.737756
SUI     -0.225539
UDFI    -1.263378
UDR     -0.684998
UMH     -0.195927
dtype: float64

---

# Determining the Top 5 Performers in the Data
## Top 5 REIT Stocks and Top 5 States for Housing Performance
* Based on Beta

In [22]:
#getting the top pick of the day for REIT residential stocks from beta
beta_df = get_beta(stocks_returns)  
def toptick(beta_df):
    beta_transpose_df=beta_df.T 
    beta_transpose_df.columns=['beta_values']
    sorted_beta_df=beta_transpose_df.sort_values(by='beta_values', ascending=False)
    result_beta=sorted_beta_df.iloc[0][0]
    result_stock=sorted_beta_df.index[0]
    return print(f"The stock best to choose today according to beta: {result_stock} with beta of {result_beta}")
toptick(beta_df)

The stock best to choose today according to beta: AMH with beta of 0.6653147068137335

In [23]:
#getting the top 5 picks of the day for REIT residential stocks
def top5picks(beta_df):
    beta_transpose_df=beta_df.T
    beta_transpose_df.columns=['beta_values']
    sorted_beta_df=beta_transpose_df.sort_values(by='beta_values', ascending=False)
    top5_df=sorted_beta_df.head()
    return top5_df
top5stocks=top5picks(beta_df)
print(top5stocks)

     beta_values
AMH     0.665315
CPT     0.629144
EQR     0.622830
UDR     0.613463
MAA     0.608726

---

## Monte Carlo Simulations on Portfolio of Top 5 Picks
* For Top 5 Stocks in REIT-residential Portfolio
* For Top 5 States in Housing Price Performance

In [24]:
#create data frame for top 5 stocks
stocks=top5stocks.reset_index()
stocks

  index  beta_values
0   AMH     0.665315
1   CPT     0.629144
2   EQR     0.622830
3   UDR     0.613463
4   MAA     0.608726

In [25]:
#get only list of tickers
def get_symbols(stocks):
    stock_tickers=[]
    for stock in stocks['index']:
        stock_tickers.append(stock)
    return stock_tickers
stock_list=get_symbols(stocks)
print(stock_list)

['AMH', 'CPT', 'EQR', 'UDR', 'MAA']

In [26]:
#grab returns data from data frame of returns for all items in list
returns_dict={}
def get_returns(stocks_returns,stock_list):
    date_index=stocks_returns.index
    for stock in stocks['index']:
        return_list=stocks_returns[stock].tolist()
        returns_dict.update({stock:return_list})
        all_returns_df=pd.DataFrame(returns_dict,index=date_index)
    return all_returns_df
all_returns_df=get_returns(stocks_returns,stock_list)
all_returns_df

                 AMH       CPT       EQR       UDR       MAA
Date
2019-11-13  0.014792  0.012620  0.017504  0.014034  0.023254
2019-11-14  0.008439  0.006593  0.010722  0.007549  0.015373
2019-11-15  0.008368  0.007447  0.007927  0.008117  0.011776
2019-11-18 -0.001886  0.002672  0.006130  0.005161 -0.004771
2019-11-19 -0.002645  0.001776  0.000920  0.003902 -0.002034
...              ...       ...       ...       ...       ...
2020-04-27  0.027367  0.031664  0.020472  0.036649  0.039932
2020-04-28 -0.002960  0.000927 -0.006585  0.003721  0.013282
2020-04-29  0.026294  0.028466  0.014645  0.009269  0.004726
2020-04-30 -0.002479 -0.009113 -0.011547 -0.016793 -0.006745
2020-05-01 -0.036868 -0.033383 -0.042269 -0.036563 -0.020461

[117 rows x 5 columns]

In [27]:
#Calculate average daily return for each stock 
#These will be used in Monte Carlo Simulation
avg_daily_return_dict={}
date_index=stocks_returns.index
def get_avg_daily_return(all_returns_df,stock_list):
    for stock in stock_list:
        avg_daily_return=all_returns_df.mean()[stock]
        avg_daily_return_dict.update({stock:avg_daily_return})
        avg_daily_return_df=pd.DataFrame(avg_daily_return_dict,index=date_index)
    return avg_daily_return_df
avg_daily_return_df=get_avg_daily_return(all_returns_df,stock_list)    
avg_daily_return_df.head()

                 AMH       CPT       EQR       UDR       MAA
Date
2019-11-13 -0.000279 -0.001424 -0.001835 -0.001579 -0.000843
2019-11-14 -0.000279 -0.001424 -0.001835 -0.001579 -0.000843
2019-11-15 -0.000279 -0.001424 -0.001835 -0.001579 -0.000843
2019-11-18 -0.000279 -0.001424 -0.001835 -0.001579 -0.000843
2019-11-19 -0.000279 -0.001424 -0.001835 -0.001579 -0.000843

In [28]:
# Calculate the standard deviation of daily returns for AGG and SPY
#These will be used in Monte Carlo Simulation
std_daily_return_dict={}
date_index=stocks_returns.index
def get_std_daily_return(all_returns_df,stock_list):
    for stock in stock_list:
        std_daily_return=all_returns_df.std()[stock]
        std_daily_return_dict.update({stock:std_daily_return})
        std_daily_return_df=pd.DataFrame(std_daily_return_dict,index=date_index)
    return std_daily_return_df
std_daily_return_df=get_std_daily_return(all_returns_df,stock_list)
std_daily_return_df.head()

                 AMH       CPT       EQR       UDR       MAA
Date
2019-11-13  0.033778  0.037458  0.035987  0.036596  0.037444
2019-11-14  0.033778  0.037458  0.035987  0.036596  0.037444
2019-11-15  0.033778  0.037458  0.035987  0.036596  0.037444
2019-11-18  0.033778  0.037458  0.035987  0.036596  0.037444
2019-11-19  0.033778  0.037458  0.035987  0.036596  0.037444

In [29]:
#Calculate weighted portfolio returns
#set equal weights to each of the investments in the portfolio
weights = [1/5, 1/5, 1/5,1/5,1/5]
#calculated portfolio returns based on weights of stocks
portfolio_returns_df = all_returns_df.dot(weights)
portfolio_returns_df.head()

Date
2019-11-13    0.016441
2019-11-14    0.009735
2019-11-15    0.008727
2019-11-18    0.001461
2019-11-19    0.000384
dtype: float64

In [30]:
# Calculate volatility of stocks
volatility_df = all_returns_df.std() * np.sqrt(252)
volatility_df

AMH    0.536212
CPT    0.594635
EQR    0.571282
UDR    0.580946
MAA    0.594410
dtype: float64

In [31]:
# Save the last day's closing prices to data frame
last_close_dict={}
def last_close(stock_list):
    for stock in stock_list:
        close=REIT_stocks[stock][-1]
        last_close_dict.update({stock:[close]})
        last_close_df=pd.DataFrame.from_dict(last_close_dict)
    return last_close_df
last_close_df=last_close(stock_list)
last_close_df

     AMH        CPT        EQR        UDR         MAA
0  23.25  85.129997  62.310001  36.099998  109.629997

In [35]:
# Setup the Monte Carlo Parameters
number_simulations =500
number_records = 252*1
monte_carlo_df = pd.DataFrame()
portfolio_cumulative_returns_df = pd.DataFrame()

In [36]:
describe_df=all_returns_df.describe()
describe_df

              AMH         CPT         EQR         UDR         MAA
count  117.000000  117.000000  117.000000  117.000000  117.000000
mean    -0.000279   -0.001424   -0.001835   -0.001579   -0.000843
std      0.033778    0.037458    0.035987    0.036596    0.037444
min     -0.147817   -0.178910   -0.169135   -0.175549   -0.167064
25%     -0.012165   -0.009802   -0.011547   -0.010000   -0.010154
50%      0.002690    0.001236   -0.000121    0.001460    0.000614
75%      0.011624    0.008119    0.009483    0.008161    0.010969
max      0.119559    0.111049    0.107814    0.117647    0.116319

In [37]:
# Run the Monte Carlo Simulation to get predicted stock and portfolio values in 5 years time
for n in range(number_simulations):
    # Initialize the simulated prices list with the last closing price of assets
    simulated_prices_df= last_close_df  

    #Simulate the returns for 252 trading days * 5 years 
    for day in range(number_records):
        simulated_price_dict={}
        for column in describe_df.columns:
            #Calculate the simulated price using the last price within the list
            avg=describe_df[column].loc['mean']
            std=describe_df[column].loc['std']
            simulated_price = simulated_prices_df[column].iloc[-1] * (1 + np.random.normal(avg, std))
            simulated_price_dict.update({column:simulated_price})
        #Set the portfolio weights (1/5 for each of the 5 assets in portfolio)
        weights = [0.2, 0.2, 0.2, 0.2, 0.2]    
        #modify simulated price dictionary for portfolio
        simulated_price_series=pd.Series(simulated_price_dict)
        # Use the `dot` function with the weights to multiply weights with each column's simulated daily returns
        #This will give appropriate weight to the prices from each stock
        portfolio_price=simulated_price_series.dot(weights)
        simulated_price_dict.update({'Portfolio':portfolio_price})
        #Add the simulated price to the list of prices
        simulated_prices_df=simulated_prices_df.append(simulated_price_dict,ignore_index=True)
        
    #Add simulated prices of each simulation to DataFrame
    monte_carlo_df=monte_carlo_df.append(simulated_prices_df.iloc[-1],ignore_index=True)
    
    
    #Calculate the normalized, cumulative return series
    #portfolio_cumulative_price_df[n]= (1 + portfolio_returns.fillna(0)).cumprod()
    
#Print records from the DataFrame
#portfolio_cumulative_returns_df
#simulated_prices_df
monte_carlo_df

           AMH         CPT        EQR         MAA  Portfolio        UDR
0     6.738430   62.696495  47.031513   41.745409  35.528463  19.430469
1    28.374964   38.678539  40.612192  111.849848  46.568824  13.328577
2    19.150682   20.468057  21.049619  185.457363  51.692275  12.335656
3     7.762681   27.135033  44.578973  116.364150  42.954331  18.930819
4    36.456720   16.860096  26.062353  226.543747  63.164873   9.901452
..         ...         ...        ...         ...        ...        ...
495  14.978272   60.812111  50.340024  193.636997  69.073280  25.598998
496  10.774005   15.175542  31.732568   72.134496  32.338611  31.876444
497  32.888970   44.077185  16.523919   97.620771  40.263684  10.207576
498  35.831051   32.183775  39.781294  184.571275  63.841643  26.840817
499  28.801194  150.928159  34.097893   57.871457  62.319952  39.901055

[500 rows x 6 columns]

In [38]:
#export monte carlo data to csv to pull for easy dataframe use
monte_carlo_df.to_csv("./Data/monte_carlo_data.csv")

In [41]:
# Visualize the Simulation
# Use the `plot` function to plot 500 simulations of the potential trajectories of the portfolio based on 252 trading days
plot_title = f"{n+1} Simulations of Cumulative Portfolio Return Trajectories Over the Next 5 years"
monte_carlo_df.hvplot.hist()

AttributeError: 'DataFrame' object has no attribute 'hvplot'